@inherits LayoutComponentBase

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<TopNavBar />

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

