<div class="topnav">
    <a href="" class="active">Home</a>
    <a href="counter">Counter</a>
    <a href="fetchdata">Games</a>
    <a href="teams">Teams</a>
    <a href="players">Players</a>
    <a href="https://docs.microsoft.com/aspnet/">About</a>
</div>
